<section>
  <h1>React Native Navigation</h1>
  <h2>The State of Art</h2>

  <small>
    Yevhen Shemet<br />
    email: yevhene@gmail.com<br />
    github: <a target="_blank" href="https://github.com/yevhene/present-react-native-nav">yevhene/present-react-native-nav</a>
  </small>
</section>

<section>
  <h1>About</h1>

  <ul>
    <li>Me</li>
    <li>Case</li>
  </ul>
</section>

<section>
  <h2>Native Navigation</h2>

  <section>
    <h3>iOS</h3>
    <h4>Navigation Stack</h4>

    <img src="ios-nav.png" />
  </section>

  <section>
    <h3>Android</h3>
    <h4>Navigation Stack</h4>

    <img src="android-nav.png" />
  </section>

  <section>
    <h3>iOS</h3>
    <h4>Tabs</h4>

    <img src="ios-tabs.png" />
  </section>

  <section>
    <h3>Android</h3>
    <h4>Swapable Views (with Tabs)</h4>

    <img src="android-tabs.png" />
  </section>

  <section>
    <h3>Android</h3>
    <h4>Drawer</h4>

    <img src="android-drawer.png" />
  </section>

  <section>
    <h3>Summary</h3>

    <h4>Platforms are different</h4>
  </section>
</section>

<section>
  <h2>Shipped Solutions</h2>

  <section>
    <h3>Navigator</h3>

    <p>JS-based solution launched with React Native</p>

    <ul>
      <li><b>+</b> Easy</li>
      <li><b>-</b> Not native</li>
      <li><b>-</b> Not powerful enough</li>
    </ul>
  </section>

  <section>
    <h3>NavigatorIOS</h3>

    <ul>
      <li><b>+</b> Native</li>
      <li><b>-</b> iOS only</li>
      <li><b>-</b> Not maintained anymore</li>
    </ul>
  </section>

  <section>
    <h3>NavigationExperimental</h3>

    <ul>
      <li><b>+</b> Native</li>
      <li><b>+</b> Have some good design points</li>
      <li><b>-</b> Complex</li>
      <li><b>-</b> Not flexible</li>
      <li><b>-</b> Deprecated</li>
    </ul>
  </section>

  <section>
    <h3>Summary</h3>

    <h4>Not good enough</h4>
  </section>
</section>

<section>
  <h2>JavaScript Based solutions</h2>

  <section>
    <h3>react-router-native</h3>

    <a href="https://github.com/ReactTraining/react-router/tree/master/packages/react-router-native">Github</a>

    <ul>
      <li><b>+</b> Nice and tidy</li>
      <li><b>-</b> Not Native</li>
    </ul>
  </section>

  <section>
    <h3>Summary</h3>

    <h4>Good for fast development, but UX is not good enough</h4>
  </section>
</section>

<section>
  <h2>Native Based solutions</h2>

  <section>
    <h3>react-native-navigation</h3>

    <a href="https://wix.github.io/react-native-navigation">Link</a>
  </section>

  <section>
    <h3>native-navigation</h3>

    <a href="http://airbnb.io/native-navigation/">Link</a>
  </section>

  <section>
    <h3>react-native-router-flux</h3>

    <p>Was wrapper around NavigationExperimental and now wraps over React Navigation</p>

    <a href="https://github.com/aksonov/react-native-router-flux">Github</a>
  </section>

  <section>
    <h3>Summary</h3>

    <h4>Better integrated, but harder to use.</h4>
  </section>
</section>

<section>
  <h2>Solution</h2>

  <section>
    <h3>react-navigation</h3>

    <a href="https://reactnavigation.org/">Link</a>
  </section>

  <section>
    <h3>Summary</h3>

    <h4>In the land of JavaScript, no one is king for long. (Cory House)</h4>
  </section>
</section>
