<section
  data-background-image="banner.jpg"
  data-background-position="center"
  data-background-size="contain"
>
</section>

<section>
  <h1>React Native Navigation</h1>
  <h2>The State of Art</h2>

  <small>
    Yevhen Shemet<br />
    email: yevhene@gmail.com<br />
    github: <a target="_blank" href="https://github.com/yevhene/present-react-native-nav">yevhene/present-react-native-nav</a>
  </small>
</section>

<section>
  <h1>About</h1>

  <ul>
    <li>Me</li>
    <li>Case</li>
  </ul>
</section>

<section>
  <h2>Native Navigation</h2>

  <section>
    <h3>iOS</h3>
    <h4>Navigation Stack</h4>

    <img src="ios-nav.png" />
  </section>

  <section>
    <h3>Android</h3>
    <h4>Navigation Stack</h4>

    <img src="android-nav.png" />
  </section>

  <section>
    <h3>iOS</h3>
    <h4>Tabs</h4>

    <img src="ios-tabs.png" />
  </section>

  <section>
    <h3>Android</h3>
    <h4>Swapable Views (with Tabs)</h4>

    <img src="android-tabs.png" />
  </section>

  <section>
    <h3>Android</h3>
    <h4>Drawer</h4>

    <img src="android-drawer.png" />
  </section>

  <section>
    <h3>Summary</h3>

    <h4>Platforms are different</h4>
  </section>
</section>

<section>
  <h2>Past Solutions</h2>

  <section>
    <h3>Navigator</h3>

    <p>JS-based solution launched with React Native.</p>

    <ul>
      <li><b>+</b> Easy</li>
      <li><b>-</b> Not powerful enough</li>
      <li><b>-</b> Removed</li>
    </ul>
  </section>

  <section>
    <h3>NavigatorIOS</h3>

    <p>Wrapper around UINavigationController.</p>

    <ul>
      <li><b>+</b> Native</li>
      <li><b>-</b> iOS only</li>
      <li><b>-</b> Not maintained anymore</li>
    </ul>
  </section>

  <section>
    <h3>NavigationExperimental</h3>

    <p>Attempt to make it right.</p>

    <ul>
      <li><b>+</b> Native</li>
      <li><b>+</b> Have some good design points</li>
      <li><b>-</b> Complex</li>
      <li><b>-</b> You should implement all by yourself</li>
      <li><b>-</b> Deprecated</li>
    </ul>
  </section>

  <section>
    <h3>ExNavigator</h3>

    <p>Based on Navigator.</p>

    <ul>
      <li><b>+</b> Was ok sometime ago</li>
      <li><b>-</b> Containes bugs in design</li>
      <li><b>-</b> Deprecated</li>
    </ul>

    <div>
      <a href="https://github.com/expo/ex-navigator"><i>https://github.com/</i><b>expo/ex-navigator</b></a>
    </div>
  </section>

  <section>
    <h3>react-native-router-flux</h3>

    <p>Was wrapper around ExNavigator, then ExperimentalNavigation and now wraps over React Navigation. Embraced Flux, Redux and then MobX.</p>

    <ul>
      <li><b>+</b> Hides some complexity</li>
      <li><b>-</b> Hard to use</li>
      <li><b>-</b> Changes API frequently</li>
    </ul>

    <div>
      <a href="https://github.com/aksonov/react-native-router-flux"><i>https://github.com/</i><b>aksonov/react-native-router-flux</b></a>
    </div>
  </section>

  <section>
    <h3>Summary</h3>

    <h4>Not good enough</h4>
  </section>
</section>

<section>
  <h2>Platform agnostic solution</h2>
</section>

<section>
  <h2>react-router</h2>

  <section>
    <div>
      <img src="react-router-logo.png" />
    </div>

    <div>
      <a href="https://github.com/ReactTraining/react-router/tree/master/packages/react-router-native"><i>https://github.com/</i><b>ReactTraining/react-router</b></a>
    </div>
  </section>

  <section>
    <h3>Demo</h3>

    <div>
      <img class="qr" src="react-router-qr.png" />
    </div>

    <div>
      <a href="https://expo.io/@yevhene/reactrouternavigation"><i>https://expo.io/</i><b>@yevhene/reactrouternavigation</b></a>
    </div>
  </section>

  <section>
    <h3>Code</h3>

    <pre><code class="hljs" data-trim contenteditable>
&lt;NativeRouter&gt;
  &lt;Switch&gt;
    &lt;Route exact path="/" component={StudentsIndex} /&gt;
    &lt;Route path="/students/:id" component={StudentsShow}/&gt;
  &lt;/Switch&gt;
&lt;/NativeRouter&gt;
    </code></pre>
  </section>

  <section>
    <div>
      <img src="react-router-demo.gif" class="mobile-gif" />
    </div>
  </section>

  <section>
    <h3>react-router-native</h3>

    <h4>DeepLinking</h4>
  </section>

  <section>
    <ul>
      <li><b>+</b> Nice and tidy</li>
      <li><b>-</b> Feels like not native (and it is)</li>
      <li><b>-</b> Web oriented</li>
    </ul>
  </section>

  <section>
    <h3>Summary</h3>

    <h4>Good for fast development, but UX is not good enough</h4>
  </section>
</section>

<section>
  <h2>Native based solutions</h2>
</section>

<section>
  <h2>react-native-navigation</h2>

  <section>
    <div>
      <img src="react-native-navigation-logo.png" />
    </div>

    <p>Mature fully featured native navigation.</p>

    <div>
      <a href="https://wix.github.io/react-native-navigation"><i>https://</i><b>wix.github.io/react-native-navigation</b></a>
    </div>
  </section>

  <section>
    <img src="react-native-navigation-demo-1.gif" class="mobile-gif" />
    <img src="react-native-navigation-demo-2.gif" class="mobile-gif" />
  </section>
</section>

<section>
  <h2>native-navigation</h2>

  <section>
    <p>Younger but fast growing native navigation.</p>

    <div>
      <a href="http://airbnb.io/native-navigation/"><i>http://</i><b>airbnb.io/native-navigation</b></a>
    </div>
  </section>
</section>

<section>
  <h2>Native Based solutions</h2>

  <section>
    <ul>
      <li><b>+</b> Native</li>
      <li><b>-</b> Very hard to install</li>
      <li><b>-</b> Hard to use</li>
      <li><b>-</b> Not compatible with create-react-native-app</li>
    </ul>
  </section>

  <section>
    <h3>Summary</h3>

    <h4>Better integrated with environment, but harder to use.</h4>
  </section>
</section>

<section>
  <h2>Solution</h2>
</section>

<section>
  <h2>react-navigation</h2>

  <div>
    <img src="react-navigation-logo.svg" />
  </div>

  <div>
    <a href="https://reactnavigation.org/"><i>https://</i><b>reactnavigation.org</b></a>
  </div>
</section>

<section>
  <h2>Demo</h2>

  <div>
    <img class="qr" src="react-navigation-qr.png" />
  </div>

  <div>
    <a href="https://expo.io/@yevhene/reactnavigationnavigation"><i>https://expo.io/</i><b>@yevhene/reactnavigationnavigation</b></a>
  </div>
</section>

<section>
  <h2>StackNavigator</h2>

  <section>
    <div>
      <img src="react-navigation-stack-demo.gif" class="mobile-gif" />
    </div>
  </section>

  <section>
    <h3>Code</h3>

    <pre><code class="hljs" data-trim contenteditable>
const Courses = StackNavigator({
  CoursesIndex: {
    screen: CoursesIndex,
    navigationOptions: {
      title: 'Курси'
    }
  }
})

const Students = StackNavigator({
  StudentsIndex: { screen: StudentsIndex },
  StudentsShow: { screen: StudentsShow }
})
    </code></pre>
  </section>
</section>

<section>
  <h2>TabsNavigator</h2>

  <section>
    <div>
      <img src="react-navigation-tabs-demo.gif" class="mobile-gif" />
    </div>
  </section>

  <section>
    <h3>Code</h3>

    <pre><code class="hljs" data-trim contenteditable>
const Tabs = TabNavigator({
  Students: {
    screen: Students,
    navigationOptions: {
      title: 'Студенти',
      tabBarIcon: ({ tintColor, focused }) =&gt; (
        &lt;Icon
          name={focused ? 'people' : 'people-outline'}
          color={tintColor}
        /&gt;
      )
    }
  },
  Courses: {
    ...
  }
})
    </code></pre>
  </section>
</section>

<section>
  <h2>DrawerNavigator</h2>

  <section>
      <img src="react-navigation-drawer-demo.gif" class="mobile-gif" />
  </section>

  <section>
    <h3>Code</h3>

    <pre><code class="hljs" data-trim contenteditable>
const Tabs = DrawerNavigator({
  Students: {
    screen: Students,
    navigationOptions: {
      title: 'Студенти',
      drawerIcon: ({ tintColor, focused }) =&gt; (
        &lt;Icon
          name={focused ? 'people' : 'people-outline'}
          color={tintColor}
        /&gt;
      )
    }
  },
  Courses: {
    ...
  }
})
    </code></pre>
  </section>
</section>

<section>
  <h2>SwitchNavigator</h2>

  <section>
    <div>
      <img src="react-navigation-switch-demo.gif" class="mobile-gif" />
    </div>
  </section>

  <section>
    <h3>Code</h3>

    <pre><code class="hljs" data-trim contenteditable>
const Main = SwitchNavigator({
  Login: { screen: SessionsCreate },
  Drawer: { screen: Drawer }
}, {
  initialRouteName: 'Drawer'
})
    </code></pre>
  </section>
</section>

<section>
  <h2>react-navigation</h2>

  <section>
    <ul>
      <li><b>+</b> Native like look and feel</li>
      <li><b>+</b> It's official</li>
      <li><b>+-</b> Not native</li>
    </ul>
  </section>

  <section>
    <h3>Summary</h3>

    <h4>"In the land of JavaScript, no one is king for long."</h4>
    <h5>Cory House</h5>
  </section>
</section>

<section>
  <h2>Questions?</h2>
</section>
